.tool-bar {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.tab-header-background {
    -fx-background-color: transparent;
}

.tab-header-area {
    -fx-padding: 0;
}